<h1 id="title">Hero Creation!</h1>
	

<div id="first">
	<table id="personal" class="leftSide">
		<thead>
			<tr>
				<td>Personal Background</td>
			</tr>
		</thead>
		<tr>
			<td>Name: THIS HERO</td>
		</tr>
		<tr>
			<td><%= raw @species%></td>
		</tr>
		<tr>
			<td><%= raw @calling%></td>
		</tr>
		<tr>
			<td><%= raw @sex%></td>
		</tr>
		<tr>
			<td><%= raw @nation%></td>
		</tr>
		<tr>
			<td><%= raw @race%></td>
		</tr>
		<tr>
			<td><%= raw @age%></td>
		</tr>
		<tr>
			<td><%= raw @body%></td>
		</tr>
		<tr>
			<td><%= raw @height%></td>
		</tr>
		<tr>
			<td><%= raw @attract%></td>
		</tr>
	</table>
	
	
	
	<table id="stats">
		<thead>
			<tr>
				<td> Ability Stats</td>
			</tr>
		</thead>
		<tr>
			<td><%= raw @fighting%></td>
		</tr>
		<tr>
			<td><%= raw @agility%></td>
		</tr>
		<tr>
			<td><%= raw @strength%></td>
		</tr>
		<tr>
			<td><%= raw @endurance%></td>
		</tr>
		<tr>
			<td><%= raw @reason%></td>
		</tr>
		<tr>
			<td><%= raw @intuition%></td>
		</tr>
		<tr>			
			<td><%= raw @psyche%></td>
		</tr>
		<tr>
			<td><%= raw @resources%></td>
		</tr>
		<tr>
			<td><%= raw @popularity%></td>
		</tr>
	</table>
	
	
	
	<table id="points">
		<tr>
			<td><%= raw @hp%></td>
		</tr>
		<tr>
			<td><%= raw @karma%></td>
		</tr>
	</table>


	<table id="contacts">
		<thead>
			<tr>
				<td>Contacts:</td>
			</tr>
		</thead>
		<tr>
			<td><%=raw @contacts%></td>
		</tr>
	</table>

	</div>		
	<div id="second">

	<table id="powers" class="leftSide">
		<thead>
			<tr>
				<td>Powers:</td>
			</tr>
		</thead>
		<tr>
			<td><%=raw @powers%></td>
		</tr>
	</table>

	<table id="talents">
		<thead>
			<tr>
				<td>Talents:</td>
			</tr>
		</thead>
		<tr>
			<td><%=raw @talents%></td>
		</tr>
	</table>
	
	
	</div>
	
	<div id="third">

	
	


	<table id="family" class="leftSide">
		<thead>
			<tr>
				<td>Family Background</td>
			</tr>
		</thead>	
		<tr>
			<td><%= raw @sec%></td>
		</tr>
		<tr>
			<td><%= raw @martial%></td>
		</tr>
		<tr>
			<td><%= raw @sibs%></td>
		</tr>
		<tr>
			<td><%= raw @parents%></td>
		</tr>
		<tr>
			<td><%= raw @criminal%></td>
		</tr>
		<tr>
			<td><%= raw @lyc%></td>
		</tr>
		<tr>
			<td><%= raw @vamp%></td>
		</tr>
	</table>
	</div>
	<h3 id="description" class="leftSide"><%= raw @description%></h3>
